<style type="text/css">
  {{/* add default img height */}}
  img { height: auto; }
  
  {{/* Set the featured image for the page */}}
  {{- $featured_image := partial "func/GetFeaturedImage.html" . }}
  {{- with $featured_image }}
    {{- $imageSet := partial "func/ImageSet.html" . -}}
    {{- $w := "screen" -}}
    {{- if $imageSet -}}
      {{- $imageSet = $imageSet | append (dict "url" .RelPermalink "width" .Width) -}}
      {{- range $kv := $imageSet }}
       {{- $r := slice -}}
        {{- range $x := slice 1.0 1.5 2.0 -}}
          {{- $xs := trim (printf "%.1f" $x) "0." -}}
          {{- $r = $r | append (printf "screen and (min-width: %.0fpx) and (min-resolution: %sx)"
            (math.Round (div $kv.width $x)) $xs) -}}
        {{- end }}
        @media {{ delimit $r ", "|safeCSS}} {
          header.bg-top {
            background-image: url('{{$kv.url}}');
          }
        }
      {{- end }}
    {{- else -}}
      header.bg-top {
        background-image: url('{{.RelPermalink}}');
      }
    {{- end }}
  {{end}}
</style>
