{{/*
    GetFeaturedImage
    Returns image resource from the page bundle or assets directory
    @return Image resource object or false
*/}}
{{ $image := false }}

{{ if eq .Kind "home" }}
    {{ with .Params.featured_image }}
        {{ $path := strings.TrimPrefix "/" . }}
        {{ with resources.Get $path }}
            {{ $image = . }}
        {{ end }}
    {{ end }}
{{ else if .Params.featured_image }}
    {{ $path := strings.TrimPrefix "/" .Params.featured_image }}
    {{ with .Resources.GetMatch $path }}
        {{ $image = . }}
    {{ else }}
        {{/* Fallback to global assets */}}
        {{ with resources.Get $path }}
            {{ $image = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return $image }}
